<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B4FD8121D6446D200A6EBBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B4FD8291D6446D300A6EBBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B4FD8341D6446D300A6EBBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
