<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NOWFLOATS_MALL_ID</key>
	<string>31</string>
	<key>AppTheamColor</key>
	<array>
		<string>228</string>
		<string>49</string>
		<string>44</string>
	</array>
	<key>NowFloats_BaseUrl</key>
	<string>http://storeongo.com:8081/</string>
	<key>getMaster</key>
	<string>Services/getMasters?</string>
	<key>SidePanelList</key>
	<array>
		<string>Home</string>
		<string>About us</string>
		<string>Orders</string>
		<string>Wishlist</string>
		<string>Storelocator</string>
	</array>
	<key>APPFONT_NAME_REGULAR</key>
	<string>Roboto-Regular</string>
	<key>APPFONT_MEDIUM</key>
	<integer>13</integer>
	<key>APPFONT_LARGE</key>
	<integer>15</integer>
	<key>APPFONT_SMALL</key>
	<integer>12</integer>
	<key>ISPagerEnable</key>
	<true/>
	<key>PRODUCT_NAME</key>
	<string>Shah&apos;s
Shah Electronics Appliances
</string>
	<key>signInMethod</key>
	<string>MobileAPIs/loginConsumerForOrg?</string>
	<key>signUpMethod</key>
	<string>MobileAPIs/regAndloyaltyAPI?</string>
	<key>placeOrder</key>
	<string>MobileAPIs/postAPlaceOrder?</string>
	<key>forgotPassordMethod</key>
	<string>MobileAPIs/forgotpwd?</string>
	<key>updateProfile</key>
	<string>MobileAPIs/updateUserDetails?</string>
	<key>photoUpload</key>
	<string>Services/uploadFileFromAndroidToServer</string>
	<key>testPaymentUrl</key>
	<string>http://46.137.241.54:9000/TestPaymentGateway/payments?</string>
	<key>AppBgColr</key>
	<array>
		<string>235</string>
		<string>235</string>
		<string>236</string>
	</array>
</dict>
</plist>
