<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MALL_ID</key>
	<string>11</string>
	<key>AppTheamColor</key>
	<array>
		<string>65</string>
		<string>105</string>
		<string>225</string>
	</array>
	<key>BaseUrl</key>
	<string>http://nowfloats.ongostore.com:8081/</string>
	<key>getMaster</key>
	<string>Services/getMasters?</string>
	<key>SidePanelList</key>
	<array>
		<string>Home</string>
		<string>About us</string>
		<string>Orders</string>
		<string>Wishlist</string>
	</array>
	<key>APPFONT_NAME_REGULAR</key>
	<string>Roboto-Regular</string>
	<key>APPFONT_MEDIUM</key>
	<integer>12</integer>
	<key>APPFONT_LARGE</key>
	<integer>15</integer>
	<key>APPFONT_SMALL</key>
	<integer>8</integer>
	<key>ISPagerEnable</key>
	<false/>
	<key>PRODUCT_NAME</key>
	<string>NowFloats</string>
	<key>AppBgColr</key>
	<array>
		<string>207</string>
		<string>206</string>
		<string>207</string>
	</array>
</dict>
</plist>
